*{
    margin: 0;
    padding: 0;
     
}

body{
    width: 100vw;
    height: 100vh;
    background-color:#F8F5EC ;
}

header{
    background-color:#FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
}

header h1{
    color: #D2532D;
    font-size: 50px;
    padding: 10px;
}

nav{
    background-color: #F8F5EC;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    width: 800px;
}

nav ul{
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style: none;
    
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

nav ul li a:hover{
    text-decoration: underline;
    color: black;
    color: #D2532D;
}

main{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#bem-vindo{
    margin-top: 30px;
    width: 1100px;
    height: 300px;
    background-color: #F3E6DA;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    color: #342419;
}

#bem-vindo h2{
    font-size: 60px;
    text-align: center;
}

#bem-vindo p{
    text-align: center;
    font-size: 18px;
}

#nossa-historia{
    width: 1100px;
    height: 350px;
}

#nossa-historia h2{
    color:#D2532D;
    padding-top: 20px;
    font-size: 40px;
    padding-bottom: 10px;
}

article{
    display: flex;
    justify-content: space-evenly;
    height: 320px;
    justify-content: space-between;
}

#tradicao{
    background-color: white;
    max-width: 600px;
    height: 200px;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#tradicao h3{
    font-size: 30px;
}

#tradicao p{
    line-height: 1.5;
    font-size: 15px;
    padding: 8px;
}

#destaque-mes{
    background-color: #E2DDCF;
    max-width: 300px;
    height: 150px;
    border-radius: 10px;
    padding: 40px;
}

#destaque-mes h3{
    font-size: 30px;
}

#destaque-mes p{
    line-height: 1.5;
    padding: 8px;
}

#prado-destaque{
    width: 1100px;
}

#prado-destaque h2{
    color:#D2532D;
    font-size: 40px;
    padding-bottom: 10px;
}

#prado-destaque figure{
    background-color: white;
    border-radius: 0px 0px 10px 10px;
}

#prado-destaque figure img{
   width: 100%;
   height: 600px;
   border-radius: 10px 10px 0px 0px;
   margin: 0;
}

#prado-destaque figcaption{
    background-color: white;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: center;
}

#horario{
    width: 1110px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#horario h2{
    color:#D2532D;
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 10px;
}

#horario caption{
    font-size: 22px;
    padding: 10px;
}

#horario thead{
    background-color: #D2532D;
    height: 40px;
    font-size: 20px;
    color: white;
    
}

#horario thead th{
    border-radius: 10px 10px 0px 0px;
}

    
#horario tbody td{
    background-color: #FFFFFF;
    height: 40px;
    padding: 10px;
    font-size: 18px;
}

#horario tfoot{
    background-color: #E2DDCF;
    padding: 40px;
    height: 50px;
    text-align: center;
}

#horario tfoot td{
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
}

#perguntas{
    width: 1100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#perguntas h2{
    color:#D2532D;
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 10px;
}

#perguntas details{
    border: 1px solid #E2DDCF;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}

#reserva{
    width: 1100px;
    margin-bottom: 100px;
}

#reserva h2{
    color:#D2532D;
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 10px;
}

#reserva form{
    border-radius: 10px;
    background-color: white;
    width: 1100px;
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}

#reserva form legend{
    font-size: 20px;
}

#reserva form fieldset{
    height: 390px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 950px;
    height: 500px;
}

#reserva form fieldset label{
    font-size: 18px;
}
    

#reserva form fieldset input{
    width: 98%;
    height: 40px;
    border-radius: 10px;
    padding: 0px 10px;
}

#reserva form fieldset button{
    font-size: 20px;
    height: 60px;
    border-radius: 10px;
    background-color: #D2532D;
    cursor: pointer;
    color: white;
}

footer{
    background-color: #D2532D;
    width: 100vw;
    height: 400px;
    color: white;
    font-size: 18px;
    display: flex;
}

footer address{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}

